@tailwind preflight;

@tailwind utilities;

.bg-decorated {
    background: rgba(245, 245, 245, 1);
    position: relative;
}

.bg-decorated::before {
    z-index: 0;
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background: linear-gradient(-180deg, rgba(245, 245, 245, .25) 0%, rgba(245, 245, 245, .75) 100%), url('/static/squares.svg') repeat center center;
}

.bg-decorated > * {
    z-index: 1;
    position: relative;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #4D4D4D;
    font-size: 15px;
    font-weight: 400;
    font-stretch: 100%;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

a {
    @apply text-red;
}

h1, h2, h3 {
    font-weight: normal;
    @apply font-heading;
}

a {
    text-decoration: none;
}

main h1 {
    @apply text-red text-5xl mb-2 mt-2 leading-tight;
}

main h2 {
    @apply text-red text-3xl mt-8;
}


main h3 {
    @apply text-red text-2xl mt-6;
}

main p, main ul, main ol {
    @apply mb-6;
}