@tailwind preflight;

@tailwind utilities;

.cli-prefixed::before {
    content: '#';
}

.bg-decorated {
    background: rgb(245, 245, 245);
}

.bg-decorated::before {
    z-index: 0;
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    height: 60vh;
    width: 100%;
    background: linear-gradient(-180deg, rgba(245, 245, 245, 0) 0%, rgba(245, 245, 245, 1) 100%), url('/static/squares.svg') repeat center center;
}

.text-shadow {
    /*text-shadow: 0 1px 1px rgba(34, 41, 47, 0.4);*/
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.8);
}

.bg-decorated > * {
    position: relative;
    z-index: 1;
}

.menu-closed\:shown {
    @apply hidden;
}

.menu-closed .menu-closed\:shown {
    @apply inline;
}

.menu-closed .menu-closed\:hidden {
    @apply hidden;
}

.focus\:outline-0 {
    outline: 0;
    -webkit-appearance: none;
}

.focus\:placeholder-white:focus::placeholder {
    color: transparent;
}

.algolia-autocomplete {
    width: 100% !important
}

@media (max-width: 768px) {
    .algolia-autocomplete.algolia-autocomplete-right .ds-dropdown-menu {
        max-width: calc(100vw - 3rem) !important;
        width: calc(100vw - 3rem) !important;
        min-width: 0 !important;
        width: calc(100vw - 3rem) !important;
        margin-left: 16px !important;
        right: -2rem !important;
    }
    .algolia-autocomplete .algolia-docsearch-suggestion--content {
        width: 100% !important;
        padding-left: 0 !important;
    }
    .algolia-autocomplete .algolia-docsearch-suggestion--content:before {
        display: none !important;
    }
    .algolia-autocomplete .algolia-docsearch-suggestion--subcategory-column {
        display: none !important;
    }
}

body {
    @apply text-grey-darkest font-body;
    font-size: 15px;
    font-weight: 400;
    font-stretch: 100%;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

* {
    box-sizing: border-box;
}

a {
    @apply text-red;
}

h1, h2, h3 {
    font-weight: normal;
    @apply font-heading;
}

a {
    text-decoration: none;
}

article h1 {
    @apply text-red text-4xl leading-tight;
}

article h2 {
    @apply text-red
    text-2xl;
}

article h3 {
    @apply text-red
    text-xl mt-6;
}

article table {
    @apply text-left p-4 bg-white border-l-4 border-grey-darker mb-4 shadow-md;
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

article p, article table {
    @apply mb-6 max-w-full block p-0;
    overflow: auto;
}

article ul, article ol {
    @apply mb-6 pl-4;
}

article table td {
    @apply border-t border-grey;
}

article table th, article table td {
    @apply p-2;
}

article blockquote {
    @apply p-4 bg-white border-l-4 border-grey-darker mb-4 shadow;
}

article blockquote :last-child {
    @apply mb-0;
}

.github-link-icon {
    position: relative;
    top: 4px;
}