/* PrismJS http://prismjs.com */

/**
 * Rainglow '' color theme.
 *
 * https://rainglow.io
 *
 * @author Dayle Rees
 */

code[class*="language-"],
pre[class*="language-"] {
    color: #36312c;
    background-color: #fff;
    font-family: 'Fira Code', 'Hack', 'Source Code Pro', 'Monaco', monospace;
    /*font-size:12px;*/
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    /*line-height: 1.6em;*/
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
    color: #ffffff;
    background-color: #1a724a;
}

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
    color: #ffffff;
    background-color: #1a724a;
}

/* Code blocks */
pre[class*="language-"] {
    padding: 1em;
    margin: 1em 0;
    overflow: auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.12), 0 2px 4px 0 rgba(0,0,0,.08);
    border: 10px solid #fff;
    border-left-width: 1rem;
    border-right-width: 1rem;
    padding: 0;
    margin: 1rem 0rem;
    background: #fff;
    border-radius: 3px;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
    background: #fff;
    margin-bottom: 2em;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
    padding: .1em;
    border-radius: .3em;
    white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: #cccccc;
}

.token.punctuation {
    color: #36312c;
}

.namespace {
    opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
    color: #1a724a;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
    color: #690;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
    color: #f8bb39;
    background: hsla(0, 0%, 100%, .5);
}

.token.atrule,
.token.attr-value,
.token.keyword {
    color: #1a724a;
}

.token.function {
    color: #b22727;
}

.token.regex,
.token.important,
.token.variable {
    color: #36312c;
}

.token.important,
.token.bold {
    font-weight: bold;
}
.token.italic {
    font-style: italic;
}

.token.entity {
    cursor: help;
}

.token.deleted {
    color: #f92672;
}
