language: php

php:
  - 7.1

sudo: false

install:
  - travis_retry composer install

script:
  - vendor/bin/phpunit --coverage-text --coverage-clover=coverage.clover
  - vendor/bin/phpstan analyze -l 5 src -c phpstan.neon

after_script:
    - wget https://scrutinizer-ci.com/ocular.phar
    - php ocular.phar code-coverage:upload --format=php-clover coverage.clover