parameters:
    level: max
    paths:
        - src
    excludes_analyse:
        - %rootDir%/../../../src/CodeGeneration/Fixtures/*
        - %rootDir%/../../../src/LibraryConsumptionTests/*
        - *Test.php
        - %rootDir%/../../../src/Snapshotting/Tests/LightSwitch.php
    checkMissingIterableValueType: false
