parameters:
    level: max
    paths:
        - src
    excludePaths:
        - %rootDir%/../../../src/CodeGeneration/Fixtures/*
        - %rootDir%/../../../src/LibraryConsumptionTests/*
        - %rootDir%/../../../src/PestUtilities/*
        - %rootDir%/../../../tests/*
        - *Test.php
    ignoreErrors:
        - '#^Method EventSauce\\EventSourcing\\EventConsumption\\TypedEventConsumerStub\:\:.+\(\) is unused.#'
        - '#^Attribute class PHPUnit\\Framework\\Attributes\\Before does not exist.#'
        - '#^Attribute class PHPUnit\\Framework\\Attributes\\After does not exist.#'
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
