<?xml version="1.0" encoding="UTF-8"?>

<!-- https://phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.8/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="vendor/autoload.php"
>
    <testsuites>
        <testsuite name="EventSauce Test Suite">
            <directory suffix="Test.php">src</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>src</directory>
            <exclude>
                <directory suffix="Test.php">src/*</directory>
                <directory suffix="Stub.php">src/*</directory>
                <directory suffix="Fixture.php">src/*</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
