<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="EventSauce">
            <directory suffix="Test.php">src/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>src/</directory>
            <exclude>
                <directory suffix="Test.php">src/</directory>
                <directory suffix="Fixture.php">src/</directory>
                <directory suffix=".php">src/CodeGeneration/Fixtures/</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
